:root {
  --brand-color: #2e2f42;
  --brand-color2: #434455;
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --grey: #f4f4fd;
}
.body {
  color: var(--brand-color2);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.logo-header-st {
  color: var(--brand-color);
}
.address {
  font-style: normal;
}
.contact {
  color: var(--brand-color2);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}
button:hover,
button:focus {
  cursor: pointer;
}
.button {
  color: var(--logo-color);
  background-color: var(--grey);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.section-title {
  color: var(--brand-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.our-team {
  background-color: #f4f4fd;
}
.title {
  color: var(--brand-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.job-name {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.category {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-footer {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-footer-st {
  color: var(--grey);
}
.footer-text {
  color: var(--grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.logo-header {
  margin-right: 76px;
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.navigation {
  display: flex;
  align-items: center;
}
.list-header {
  display: flex;
  gap: 40px;
}
.link-header {
  padding: 24px 0;
}
.address > .list {
  display: flex;
}
.first-section {
  padding: 188px 0 188px;
  background-color: var(--brand-color);
}
.first-section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  max-width: 496px;
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.button-order {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button-order:hover {
  background-color: #404bbf;
}
.button-order:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.second-container > .list {
  display: flex;
  gap: 24px;
}
.list-box {
  width: calc((100% - 72px) / 4);
}
.list-box > .title {
  margin-bottom: 8px;
}
.third-section {
  padding-top: 0;
}
.third-container .section-title {
  margin-bottom: 72px;
}
.third-container > .list {
  display: flex;
  gap: 24px;
}
.thrird-section-li {
  width: calc((100% - 48px) / 3);
}
.our-team .list {
  display: flex;
  gap: 24px;
}
.our-team .section-title {
  margin-bottom: 72px;
}

.employees {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 3 * 24px) / 4);

  background-color: #ffffff;
  color: var(--brand-color);
}
.employees-description {
  padding: 32px 0px;
}
.employees .name {
  text-align: center;
  margin-bottom: 8px;
}
.employees .job-name {
  text-align: center;
}
.footer {
  padding: 100px 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-color);
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.container-portfolio .list {
  display: flex;
}
.buttons {
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}
.buttons .button {
  padding: 12px 24px 12px;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid#e7e9fc;
  background: #f4f4fd;
}
.button:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.menu-li {
  width: calc((100% - 48px) / 3);
}
.description {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.img-description {
  margin-bottom: 8px;
  color: var(--brand-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
